@tailwind base;
@tailwind components;
@tailwind utilities;

body { background: #EAEDE6; color: #13322E; font-family: Inter, system-ui, sans-serif; }
h1, h2, h3, h4, h5, h6 { font-family: "Space Grotesk", system-ui, sans-serif; }
.leaflet-container { border-radius: 0.75rem; z-index: 1; }
